:root
  --black: #281520
  --bright-black: #683152
  --red: #a90f30
  --bright-red: #de3557
  --green: #a75fb4
  --bright-green: #de91da
  --yellow: #d65c6a
  --bright-yellow: #eb8490
  --blue: #8dafe2
  --bright-blue: #b4cff8
  --magenta: #b54067
  --bright-magenta: #d65c85
  --cyan: #f269ad
  --bright-cyan: #ff99cc
  --white: #b1819e
  --bright-white: #f4b9dc
